body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24, 23, 23);
}
h1 {
  color:rgb(250, 194, 40)
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo{
  width: 200px;
  height: 35px;
  position: relative;
  margin-left: 50%;
  float: right; 

}
.card {
  padding: 20px;
  background-color: rgb(248, 242, 234);
  display: inline-block;
}
/* PERSONAJES */
.card-todos {
  padding: 10px;
  height: 380px;
  width: 250px;
  display: inline-flex;
  margin: 5px;
}
.card-todos h6 {
  text-transform: uppercase;
  text-size-adjust: auto;
}
.botonVer {
  margin-left: auto;
  width: fit-content;
  display: inline-block;
  margin-left: 180px;
}

.contain {
  display: flex;
  justify-content: center;
}
.imagen-2 {
  width: auto;
  margin: auto;
  float: right; 
}

.container-personajes {
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}
/* DETALLE DE PERSONAJES*/
.nombre {
  color: rgb(150, 8, 39);
  text-transform: uppercase;
}

.card-body {
  display: inline-block;
  margin-left: auto;
}

.imagen {
  position: relative;
  width: 220px;
  height: 350px;
  border: solid 2px rgb(56, 109, 253);
  border-radius: 20%;
  border-block-end-width: 20px;
  border-block-start-width: 20px;
  box-shadow: 10px 10px 9px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 9px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 9px -5px rgba(0, 0, 0, 0.75);
}
.boton {
  margin-left: auto;
  width: fit-content;
  height: 40px;
  display: block;
}

/* DETALLE DE EPISODIOS*/
.imagen2 {
  position: relative;
  padding-left: 5%;
  width: 570px;
  height: 300px;
}
.nombre2 {
  color: rgb(150, 8, 39);
  text-transform: uppercase;
  text-align: center;
}
.botonInfo {
  width: fit-content;
  display: inline-block;
  margin-left: 175px;
  font-size: 12px;
  box-sizing: content-box;
  width: 15%;
}
.container-casting {
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
.card-cast {
  padding: 10px;
  height: 250px;
  width: 280px;
  display: inline-flex;
  margin: 5px;
}
.boton-cast {
  margin-left: auto;
  width: fit-content;
  display: block;
  padding: 5px;
  margin-top: 15%;
  font-size: 12px;
}
